body{
    
    background-image: url(bg.png);
    
}

.container-1{
    margin-top: 45px;
    align-items: center;
}
.b{
    margin-left: 250px;
    margin-bottom: 50px;
    font-size: x-large;
}